/* Style Html */
html, body {
    scroll-behavior: smooth;
}
/* Set Font For Website */
*{
    font-family: 'Noto Sans', sans-serif;
}
/* Set Body Background */
body{
    background-color:#212529
}
/* Style All links in Page */
a:hover{
    text-decoration: none;
}
/* Set Color For Brand Name */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover{
    color: #65afff;
}
/* Set Color For Active Link */
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #e9ecef;
}
.nav-item {
    margin-right:10px;
}
/* Set Background For Navbar */
.bg-dark {
    background-color: #17191a!important;
    border-bottom: 1px solid #007bff;
}
/* Set Hover Color For Links */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #b3d7ff;
}
/* Style Header Section */
div.header{
    width: 100% !important;
}
/* Set White Color For White Class */
.white{
    color:#FFF
}
/* Style Span In The Header */
span.custom{
    color:#17a2b8
}
/* Style The Custom Paragraph */
.custom-p {
    font-size: 1rem;
    color: #CCC !important;
    width: 330px;
}
/* Style The Button in header */
.header .btn{
    background-color: #17a2b8;
    color: #EFEFEF;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
/* Set Margin For Layout */
.parent-container{
    margin-top: 125px !important;
}

/* Style Info Section */
div.info{
    margin-top: 80px !important
}

/* Style Testmonials Section */
div.testmonials{
    margin-top : 80px;
}
.testmonials img{
    width: 70px !important;
}
.testmonials .carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Style Prices Section */
.price{
    font-size:30px;
    color: #CCC;
}

.divider{
    border-color:#007bff
}
svg.fa-check{
    color:#0F0;
}
svg.fa-times{
    color:#F00;
}

/* Style Footer */

footer {
    background:#343a40;
    width:100% !important;
}
.roadmap li{
    margin-top: 10px;
}
.accounts li {
    display:inline-block;
    font-size:32px;
    margin-right:15px;
}
.accounts li:first-of-type a svg {
    color:#4267B2;
}
.accounts li:nth-of-type(2) a svg {
    color:#0e76a8 ;
}
.accounts li:nth-of-type(3) a svg {
    color:#6cc644 ;
}

.copyright {
    font-size:18px;
    padding-bottom:5px;
}


/* Style Scroll To Top Button */

.scrollTop{
    position:fixed;
    width:50px;
    height:50px;
    border-radius:50%;
    bottom:15px;
    right:50px;
    background-color: #495057;
    cursor:pointer;
    border: 2px solid #0e76a8;
    display:none;
}
.scrollTop svg{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size:20px;
    color:#007bff;
}